.aligner {
  background-color: #F3E5AB;
  background-image: url("../images/asfalt-light.png");
  height: 520px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aligneritem {
  max-width: 50%;
}