nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

