section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  background-color: inherit;
  height: 50px;
  border: none;
  resize: none;
  position: relative;
  padding: 0 2px;
  border-bottom:solid 5px #545149;
  margin-bottom: 10px;
}

.submitcount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tweetbutton {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.valid {
  color:  #545149;
}

.invalid {
  color: #FF0000;
}